@font-face {
    font-family: "Segoe UI";
    src: url("/assets/fonts/SEGOEUI.TTF") format("opentype");
}
@font-face {
    font-family: "Segoe UI light";
    src: url("/assets/fonts/SEGOEUIL.TTF") format("opentype");
}
